<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="operationForm" >
        <p>
            <mat-form-field>
                <mat-label>{{ 'tableHeaders.operation.0' | translate }}</mat-label>
                <mat-select formControlName="customer" [compareWith]="compareById" required>
                    <mat-option *ngFor="let customer of customers" [value]="customer">
                        {{ customer.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>{{ 'tableHeaders.operation.1' | translate }}</mat-label>
                <mat-select formControlName="business" [compareWith]="compareById" required>
                    <mat-option *ngFor="let business of businesses" [value]="business">
                        {{ business.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>{{ 'tableHeaders.operation.2' | translate }}</mat-label>
                <mat-select formControlName="room" [compareWith]="compareById" required>
                    <mat-option *ngFor="let room of rooms" [value]="room">
                        {{ room.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>{{ 'chooseDate' | translate }}</mat-label>
                <input matInput 
                    [matDatepicker]="datePicker" 
                    [min]="today"
                    [matDatepickerFilter]="dateFilter"
                    formControlName="date" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>{{ 'chooseStartHour' | translate }}</mat-label>
                <mat-select formControlName="startHour" required>
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                        {{ hour }}:00
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'chooseEndHour' | translate }}</mat-label>
                <mat-select formControlName="endHour" required>
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                        {{ hour }}:00
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.operation.5' | translate }}</mat-label>
                <input matInput type="number" step="0.5" min="0.5" name="cost" formControlName="cost" required>
            </mat-form-field>
        </p>
        <p>
            <label>{{ 'tableHeaders.operation.6' | translate }}: </label>
            <mat-radio-group formControlName="status">
                <mat-radio-button value="PENDING">{{ 'status.PENDING' | translate }}</mat-radio-button>
                <mat-radio-button value="APPROVED">{{ 'status.APPROVED' | translate }}</mat-radio-button>
                <mat-radio-button value="CANCELLED">{{ 'status.CANCELLED' | translate }}</mat-radio-button>
            </mat-radio-group>
        </p>
    </form>
</div>
<div class="formErrors">
    <div *ngIf="operationForm.get('cost')?.errors?.['min']">
        <p class="error-message">{{ 'messages.costPositiveError' | translate }}</p>
    </div>
    <div *ngIf="isBeforeOrSame()">
        <p class="error-message">{{ 'messages.startBeforeEnd' | translate }}</p>
    </div>
    <div *ngIf="isUnavailable()">
        <p class="error-message">{{ 'messages.unavailableHours' | translate }}</p>
    </div>
    <div *ngIf="operationForm.invalid">
        <p class="error-message">{{ 'messages.emptyRequiredFields' | translate }}</p>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">{{ 'actions.cancel' | translate }}</button>
  <button mat-button mat-dialog-close (click)="onSave()" [disabled]="isBeforeOrSame() || !operationForm.valid" cdkFocusInitial>{{ 'actions.save' | translate }}</button>
</div>
