.search-bar {
    width: 85%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form button {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.mat-mdc-card {
    margin-bottom: 1rem;
}