<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="locationForm" >
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.0" | translate }}</mat-label>
                <input matInput name="street" formControlName="street" required>
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.1" | translate }}</mat-label>
                <input matInput type="number" step="1" min="1" name="number" formControlName="number" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.2" | translate }}</mat-label>
                <input matInput name="postcode" formControlName="postcode" required>
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.3" | translate }}</mat-label>
                <input matInput name="town" formControlName="town" required>
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.4" | translate }}</mat-label>
                <input matInput name="province" formControlName="province" required>
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ "tableHeaders.location.5" | translate }}</mat-label>
                <input matInput name="country" formControlName="country" required>
            </mat-form-field> 
        </p>
    </form>
</div>
<div *ngIf="locationForm.invalid">
    <p class="error-message">{{ 'messages.emptyRequiredFields' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">{{ "actions.cancel" | translate }}</button>
  <button mat-button mat-dialog-close [disabled]="!locationForm.valid" (click)="onSave()" cdkFocusInitial>{{ "actions.save" | translate }}</button>
</div>
