<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" >
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.user.0' | translate }}</mat-label>
                <input matInput name="name" formControlName="name" required>
            </mat-form-field> 
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.user.1' | translate }}</mat-label>
                <input matInput name="cnif" formControlName="cnif" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.user.2' | translate }}</mat-label>
                <input matInput type="email" name="email" formControlName="email" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.user.3' | translate }}</mat-label>
                <input matInput type="password" name="password" formControlName="password" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'tableHeaders.user.4' | translate }}</mat-label>
                <input matInput type="tel" name="phone" formControlName="phone" required>
            </mat-form-field>
        </p>
        <p>
            <label>{{ 'tableHeaders.user.5' | translate }}: </label>
            <mat-radio-group formControlName="role">
                <mat-radio-button value="CUSTOMER">{{ 'role.customer' | translate }}</mat-radio-button>
                <mat-radio-button value="BUSINESS">{{ 'role.business' | translate }}</mat-radio-button>
                <mat-radio-button value="ADMIN">{{ 'role.admin' | translate }}</mat-radio-button>
            </mat-radio-group>
        </p>
    </form>
</div>
<div *ngIf="userForm.invalid">
    <p class="error-message">{{ 'messages.emptyRequiredFields' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">{{ 'actions.cancel' | translate }}</button>
  <button mat-button mat-dialog-close [disabled]="!userForm.valid" (click)="onSave()" cdkFocusInitial>{{ 'actions.save' | translate }}</button>
</div>
