.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
  
.app-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.loginButton {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.loginButton button {
    margin-right: 1rem;
}

.user-info-card {
    padding: 0 10px 20px;
}