<mat-toolbar class="main-header" color="primary">
    <button mat-icon-button (click)="toggleSidenav()" *ngIf="!isLogin">
        <mat-icon>menu</mat-icon>
    </button>
    ReservaTuSala
    <button mat-flat-button (click)="logIn()" class="loginButton" *ngIf="!token && !isLogin">
        Log In
    </button>
    <button mat-icon-button matTooltip="User menu" [matMenuTriggerFor]="menu" class="loginButton" *ngIf="token">
        <mat-icon fontIcon="person"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{ userName }}</mat-card-title>
              <mat-card-subtitle>{{ userEmail }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <button mat-menu-item (click)="editUser()">Edit user</button>
        <button mat-menu-item (click)="logOut()">
            Log Out
        </button>
    </mat-menu>
</mat-toolbar>
