<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form [formGroup]="filterForm" >
        <h3>Size</h3>
        <p>
            <mat-slider min="0" max="500">
                <input formControlName="minSize" matSliderStartThumb>
                <input formControlName="maxSize" matSliderEndThumb>
            </mat-slider>
            {{filterForm.value.minSize}} - {{filterForm.value.maxSize}}
        </p>
        <h3>Capacity</h3>
        <p>
            <mat-slider min="0" max="100">
                <input formControlName="minCapacity" value="0" matSliderStartThumb>
                <input formControlName="maxCapacity" value="100" matSliderEndThumb>
            </mat-slider>
            {{filterForm.value.minCapacity}} - {{filterForm.value.maxCapacity}}
        </p>
        <h3>Price per hour</h3>
        <p>
            <mat-slider min="0" max="500">
                <input formControlName="minPrice" matSliderStartThumb>
                <input formControlName="maxPrice" matSliderEndThumb>
            </mat-slider>
            {{filterForm.value.minPrice}} - {{filterForm.value.maxPrice}}
        </p>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="resetFilters()">Reset filters</button>
    <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
    <button mat-button mat-dialog-close (click)="onSave()" cdkFocusInitial>Save</button>
</div>

