<div class="app-container">
  <app-header></app-header>
  <mat-sidenav-container class="side-menu-container" fullscreen>
    <mat-sidenav #sidenav mode="side">
      <mat-list>
        <mat-list-item>
          <a href="admin/home">
            <button mat-button>
              Inicio
            </button>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="admin/users">
            <button mat-button>
              Usuarios
            </button>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>