<div class="app-container">
  <app-header></app-header>
  <mat-sidenav-container class="side-menu-container" fullscreen>
    <mat-sidenav #sidenav mode="side">
      <mat-list>
        <mat-list-item *ngFor="let page of pages; let i = index">
          <a [href]="refs[i]">
            <button mat-button>
              {{ page }}
            </button>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="admin/operations">
            <button mat-button>
              Operations
            </button>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="admin/rooms">
            <button mat-button>
              Rooms
            </button>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="admin/locations">
            <button mat-button>
              Locations
            </button>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>