.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .side-menu-container {
    flex: 1;
  }

  .main-content {
    margin: 2rem;
  }

  .add-button {
    float: right;
    margin-bottom: 1rem;
  }