/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.add-button {
    float: right;
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.mat-mdc-snack-bar-container {
    &.error-snackbar {
        --mdc-snackbar-container-color: rgb(184, 50, 50);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
    &.success-snackbar {
        --mdc-snackbar-container-color: rgb(49, 114, 49);
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}