.container {
    display: flex;
}

.content-left {
    flex: 1;
    padding-right: 2rem;
}

.content-right {
    flex: 1;
    background-color: #ffd740;
    padding: 2rem;
    border-radius: 10px;
}

li {
    padding-bottom: 10px;
}