<button mat-flat-button color="primary" class="add-button" (click)="showAddLocationDialog()">{{ "new.location" | translate }}</button>
<table mat-table [dataSource]="locations" *ngIf="locations.length">
    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.0" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.street}} </td>
    </ng-container>
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.1" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.number}} </td>
    </ng-container>
    <ng-container matColumnDef="postcode">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.2" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.postcode}} </td>
    </ng-container>
    <ng-container matColumnDef="town">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.3" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.town}} </td>
    </ng-container>
    <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.4" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.province}} </td>
    </ng-container>
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.5" | translate }} </th>
        <td mat-cell *matCellDef="let location"> {{location.country}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ "tableHeaders.location.6" | translate }} </th>
        <td mat-cell *matCellDef="let location"> 
            <button mat-icon-button matTooltip="{{ 'actions.edit' | translate }}" (click)="showEditLocationDialog(location)">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{ 'actions.delete' | translate }}" (click)="showDeleteDialog(location.id)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>    
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

<p *ngIf="!locations.length">{{ "messages.noElementsToShow" | translate }}</p>
